@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, Montserrat, Inter, sans-serif;
  /* background-color: var(--background); */
}

:root {
  --brand-purple: #8f75ff; /* CTA buttons & highlights */
  --brand-purple-dark: #745de8; /* Button hover */

  --text-dark: #111827; /* Headings */
  --text-gray: #4b5563; /* Body text */
  --text-light: #e8e3e3; /* light text */
  --bg-light: #ffffff; /* Main background */
  --bg-soft: #f8f9ff; /* Soft section background */

  --border-light: #e5e7eb; /* Subtle borders */
}

body {
  background-color: var(--bg-light);
}

.brand-purple {
  color: var(--brand-purple);
}


/* .btn {
  background-color: var(--brand-purple);
  color: var(--text-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.flip {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}
 */

::selection {
  background-color: var(--brand-purple);
  color: var(--text-dark);
}

/* @media only screen and (max-width: 768px) {
  .fade {
    font-size: 4.5rem;
  }

  .shift-up {
    margin-top: -4rem;
  }

  .shift-up > h2 {
    font-size: 3rem;
    margin-top: -1rem;
  }
} */
